*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
    transition: background 0.5s ease-in-out;
}

body.sci-bg {
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: white;
    font-size: 3rem;
    margin: 0;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tab-button {
    background: none;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2rem;
    position: relative;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.tab-button.active, .tab-button:hover {
    background-color: rgba(255, 255, 255, .2);
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

#get-started-tab {
    color: white;
    text-align: center;
    padding: 40px;
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.calculator.scientific {
    grid-template-rows: minmax(120px, auto) repeat(6, 100px);
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

.sci-keys {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}


button {
    cursor: pointer;
    font-size: 1.5rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    border-radius: 5px;
    transition: all 0.2s;
}

button:hover {
    background-color: rgba(255, 255, 255, .9);
    transform: scale(1.05);
}

.span-two {
    grid-column: span 2;
}

.operator {
    background-color: #ff9800;
    color: white;
}

.display {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 5px;
    margin-bottom: 10px;
}

.display .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.display .current-operand {
    color: white;
    font-size: 2.5rem;
}
