.calculator {
  width: 300px;
  margin: 50px auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.display input {
  width: 100%;
  height: 40px;
  font-size: 20px;
  text-align: right;
  margin-bottom: 10px;
}

.keys button {
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
}
